# Occupation

### Introduction:

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [24]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user).

### Step 3. Assign it to a variable called users.

In [25]:
users = pd.read_table(
    "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user",
    sep="|",
    index_col="user_id",
)
users.head()

         age gender  occupation zip_code
user_id
1         24      M  technician    85711
2         53      F       other    94043
3         23      M      writer    32067
4         24      M  technician    43537
5         33      F       other    15213

### Step 4. Discover what is the mean age per occupation

In [26]:
users.groupby(by="occupation")[["age"]].mean()

                     age
occupation
administrator  38.746835
artist         31.392857
doctor         43.571429
educator       42.010526
engineer       36.388060
entertainment  29.222222
executive      38.718750
healthcare     41.562500
homemaker      32.571429
lawyer         36.750000
librarian      40.000000
marketing      37.615385
none           26.555556
other          34.523810
programmer     33.121212
retired        63.071429
salesman       35.666667
scientist      35.548387
student        22.081633
technician     33.148148
writer         36.311111

### Step 5. Discover the Male ratio per occupation and sort it from the most to the least

In [31]:
users[users.gender == "M"].groupby(by="occupation")[["age"]].mean().sort_values(
    by="age", ascending=False
)

users["gender_n"] = users["gender"].apply(lambda x: 1 if x == "M" else 0)
a = round(
    users.groupby("occupation").gender_n.sum() / users.occupation.value_counts() * 100,
    2,
)
a.sort_values(ascending=False)

occupation
doctor           100.00
engineer          97.01
technician        96.30
retired           92.86
programmer        90.91
executive         90.62
scientist         90.32
entertainment     88.89
lawyer            83.33
salesman          75.00
educator          72.63
student           69.39
other             65.71
marketing         61.54
writer            57.78
none              55.56
administrator     54.43
artist            53.57
librarian         43.14
healthcare        31.25
homemaker         14.29
dtype: float64

### Step 6. For each occupation, calculate the minimum and maximum ages

In [ ]:
users.groupby(by="occupation")[["age"]].agg(["mean", "max", "min"])

                     age
                    mean max min
occupation
administrator  38.746835  70  21
artist         31.392857  48  19
doctor         43.571429  64  28
educator       42.010526  63  23
engineer       36.388060  70  22
entertainment  29.222222  50  15
executive      38.718750  69  22
healthcare     41.562500  62  22
homemaker      32.571429  50  20
lawyer         36.750000  53  21
librarian      40.000000  69  23
marketing      37.615385  55  24
none           26.555556  55  11
other          34.523810  64  13
programmer     33.121212  63  20
retired        63.071429  73  51
salesman       35.666667  66  18
scientist      35.548387  55  23
student        22.081633  42   7
technician     33.148148  55  21
writer         36.311111  60  18

### Step 7. For each combination of occupation and gender, calculate the mean age

In [ ]:
users.groupby(by=["occupation", "gender"])["age"].agg(["mean", "max", "min"])

                           mean  max  min
occupation    gender
administrator F       40.638889   62   22
              M       37.162791   70   21
artist        F       30.307692   48   19
              M       32.333333   45   20
doctor        M       43.571429   64   28
educator      F       39.115385   51   23
              M       43.101449   63   25
engineer      F       29.500000   36   23
              M       36.600000   70   22
entertainment F       31.000000   38   24
              M       29.000000   50   15
executive     F       44.000000   49   39
              M       38.172414   69   22
healthcare    F       39.818182   53   22
              M       45.400000   62   28
homemaker     F       34.166667   50   20
              M       23.000000   23   23
lawyer        F       39.500000   51   28
              M       36.200000   53   21
librarian     F       40.000000   59   26
              M       40.000000   69   23
marketing     F       37.200000   50   24
              M       37.875000   55   24
none          F       36.500000   55   26
              M       18.600000   33   11
other         F       35.472222   55   18
              M       34.028986   64   13
programmer    F       32.166667   38   26
              M       33.216667   63   20
retired       F       70.000000   70   70
              M       62.538462   73   51
salesman      F       27.000000   33   18
              M       38.555556   66   21
scientist     F       28.333333   31   26
              M       36.321429   55   23
student       F       20.750000   38   13
              M       22.669118   42    7
technician    F       38.000000   38   38
              M       32.961538   55   21
writer        F       37.631579   56   18
              M       35.346154   60   21

### Step 8. For each occupation present the percentage of women and men

In [ ]:
# size conta le righe
# unstack trasforma il livello più interno dell'indice (in questo caso gender) in colonne
# fill value = 0 serve per aggiungere 0 se non c'è un gendere in un a determinata occupation
counts = users.groupby(["occupation", "gender"]).size().unstack(fill_value=0)

counts["total"] = counts.F + counts.M
counts["%F"] = round(counts.F / counts.total * 100, 2)
counts["%M"] = 100.00 - counts["%F"]

counts

gender          F    M  total     %F      %M
occupation
administrator  36   43     79  45.57   54.43
artist         13   15     28  46.43   53.57
doctor          0    7      7   0.00  100.00
educator       26   69     95  27.37   72.63
engineer        2   65     67   2.99   97.01
entertainment   2   16     18  11.11   88.89
executive       3   29     32   9.38   90.62
healthcare     11    5     16  68.75   31.25
homemaker       6    1      7  85.71   14.29
lawyer          2   10     12  16.67   83.33
librarian      29   22     51  56.86   43.14
marketing      10   16     26  38.46   61.54
none            4    5      9  44.44   55.56
other          36   69    105  34.29   65.71
programmer      6   60     66   9.09   90.91
retired         1   13     14   7.14   92.86
salesman        3    9     12  25.00   75.00
scientist       3   28     31   9.68   90.32
student        60  136    196  30.61   69.39
technician      1   26     27   3.70   96.30
writer         19   26     45  42.22   57.78