# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [27]:
import pandas as pd
import numpy as np

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

### Step 3. Assign each to a variable called cars1 and cars2

In [28]:
cars1 = pd.read_csv(
    "https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv"
)
cars2 = pd.read_csv(
    "https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv"
)

display(cars1.head())
display(cars2.head())

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,NaN,NaN,NaN,NaN,NaN
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,NaN,NaN,NaN,NaN,NaN
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,NaN,NaN,NaN,NaN,NaN
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,NaN,NaN,NaN,NaN,NaN
4,17.0,8,302,140,3449,10.5,70,1,ford torino,NaN,NaN,NaN,NaN,NaN

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,33.0,4,91,53,1795,17.4,76,3,honda civic
1,20.0,6,225,100,3651,17.7,76,1,dodge aspen se
2,18.0,6,250,78,3574,21.0,76,1,ford granada ghia
3,18.5,6,250,110,3645,16.2,76,1,pontiac ventura sj
4,17.5,6,258,95,3193,17.8,76,1,amc pacer d/l

### Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1

In [29]:
cars1 = cars1.loc[:, :"car"]
cars1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino

### Step 5. What is the number of observations in each dataset?

In [30]:
print(cars1.shape, cars2.shape)

(198, 9) (200, 9)

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [31]:
cars = cars1.merge(cars2, how="outer")
display(cars.head())
print(cars.shape)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,9.0,8,304,193,4732,18.5,70,1,hi 1200d
1,10.0,8,307,200,4376,15.0,70,1,chevy c20
2,10.0,8,360,215,4615,14.0,70,1,ford f250
3,11.0,8,318,210,4382,13.5,70,1,dodge d200
4,11.0,8,350,180,3664,11.0,73,1,oldsmobile omega

(398, 9)

### Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [32]:
cars["owners"] = np.random.randint(15_000, 73_000, size=len(cars))

### Step 8. Add the column owners to cars

In [33]:
cars.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
0,9.0,8,304,193,4732,18.5,70,1,hi 1200d,52744
1,10.0,8,307,200,4376,15.0,70,1,chevy c20,54269
2,10.0,8,360,215,4615,14.0,70,1,ford f250,68382
3,11.0,8,318,210,4382,13.5,70,1,dodge d200,54740
4,11.0,8,350,180,3664,11.0,73,1,oldsmobile omega,20372