# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [98]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [99]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"

chipo = pd.read_csv(url, sep="\t")

### Step 4. See the first 10 entries

In [100]:
display(chipo[:10])

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [101]:
# Solution 1
len(chipo)

4622

In [102]:
# Solution 2
chipo.shape

(4622, 5)

### Step 6. What is the number of columns in the dataset?

In [103]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [104]:
print(chipo.columns)

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [105]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [106]:
chipo.groupby(by="item_name")["item_name"].count().sort_values(ascending=False)[:1]

item_name
Chicken Bowl    726
Name: item_name, dtype: int64

### Step 10. For the most-ordered item, how many items were ordered?

In [107]:
chipo.groupby(by="item_name")["quantity"].count().sort_values(ascending=False)[:1]

item_name
Chicken Bowl    726
Name: quantity, dtype: int64

### Step 11. What was the most ordered item in the choice_description column?

In [108]:
chipo.groupby(by="choice_description")["quantity"].count().sort_values(ascending=False)

choice_description
[Diet Coke]                                                                                                       134
[Coke]                                                                                                            123
[Sprite]                                                                                                           77
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]                                             42
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Guacamole, Lettuce]]                                  40
                                                                                                                 ...
[Adobo-Marinated and Grilled Chicken, Pinto Beans, [Sour Cream, Salsa, Cheese, Cilantro-Lime Rice, Guacamole]]      1
[Adobo-Marinated and Grilled Chicken, [Sour Cream, Cheese, Cilantro-Lime Rice]]                                     1
[Adobo-Marinated and Grilled Chicken]                                                                               1
[Adobo-Marinated and Grilled Steak, [Sour Cream, Salsa, Cheese, Cilantro-Lime Rice, Guacamole]]                     1
[Adobo-Marinated and Grilled Steak]                                                                                 1
Name: quantity, Length: 1043, dtype: int64

### Step 12. How many items were orderd in total?

In [109]:
sum(chipo.quantity)

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [110]:
display(chipo.item_price.dtype)
display(chipo.dtypes)
display(chipo.head())

dtype('O')

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

#### Step 13.b. Create a lambda function and change the type of item price

In [111]:
chipo.item_price = chipo.item_price.apply(lambda x: float(x.replace("$", "")))

#### Step 13.c. Check the item price type

In [112]:
chipo.item_price.dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [113]:
sum(chipo.quantity * chipo.item_price)

39237.02

### Step 15. How many orders were made in the period?

In [114]:
print(len(chipo.order_id.unique()))
print(chipo.order_id.value_counts())
print(chipo.order_id.value_counts().count())

1834
order_id
926     23
1483    14
205     12
1786    11
759     11
        ..
59       1
60       1
66       1
72       1
2        1
Name: count, Length: 1834, dtype: int64
1834

### Step 16. What is the average revenue amount per order?

In [115]:
# Solution 1

chipo["revenue"] = chipo.item_price * chipo.quantity
display(chipo.head())
display(chipo.groupby(by="order_id")[["revenue"]].sum())
chipo.groupby(by="order_id")["revenue"].sum().mean()

,order_id,quantity,item_name,choice_description,item_price,revenue
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,33.96

          revenue
order_id
1           11.56
2           33.96
3           12.67
4           21.00
5           13.70
...           ...
1830        23.00
1831        12.90
1832        13.20
1833        23.50
1834        28.75

[1834 rows x 1 columns]

np.float64(21.39423118865867)

In [116]:
# Solution 2

### Step 17. How many different items are sold?

In [117]:
len(chipo.item_name.unique())

50