# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [62]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [63]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"

chipo = pd.read_csv(url, sep="\t")

### Step 4. How many products cost more than $10.00?

In [64]:
chipo.item_price = chipo.item_price.apply(lambda x: float(x.replace("$", "")))
grt_10 = chipo[chipo["item_price"] > 10]["item_name"].nunique()
print(grt_10)
grt_df = grt_10 = chipo[chipo["item_price"] > 10].drop_duplicates()

31

### Step 5. What is the price of each item?

###### print a data frame with only three columns item_name choice_description and product_price

In [65]:
display(grt_df[["item_name", "choice_description", "item_price"]])
print(len(grt_df))

,item_name,choice_description,item_price
4,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
5,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
7,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75
13,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
23,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",10.98
...,...,...,...
4610,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4611,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",11.25
4617,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25

1123

### Step 6. Sort by the name of the item

In [66]:
grt_df = grt_df.sort_values(by="item_name")
display(grt_df)

,order_id,quantity,item_name,choice_description,item_price
3389,1360,2,6 Pack Soft Drink,[Diet Coke],12.98
3547,1426,1,Barbacoa Bowl,"[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream...",11.75
2762,1097,1,Barbacoa Bowl,"[Tomatillo Red Chili Salsa, [Rice, Fajita Vege...",11.75
4380,1748,1,Barbacoa Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.75
2749,1091,1,Barbacoa Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",11.75
...,...,...,...,...,...
1884,760,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
3223,1289,1,Veggie Salad Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.25
3889,1559,2,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",16.98
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
738,304,1,Veggie Soft Tacos,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.25

### Step 7. What was the quantity of the most expensive item ordered?

In [70]:
display(grt_df.sort_values(by="item_price", ascending=False).iloc[0])

grt_df.loc[grt_df["item_price"].idxmax()]["quantity"]

order_id                                      1443
quantity                                        15
item_name             Chips and Fresh Tomato Salsa
choice_description                             NaN
item_price                                   44.25
Name: 3598, dtype: object

np.int64(15)

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [74]:
print(chipo[chipo["item_name"] == "Veggie Salad Bowl"].count())
print(chipo[chipo["item_name"] == "Veggie Salad Bowl"]["quantity"].sum())

order_id              18
quantity              18
item_name             18
choice_description    18
item_price            18
dtype: int64
18

### Step 9. How many times did someone order more than one Canned Soda?

In [69]:
chipo[(chipo["item_name"] == "Canned Soda") * (chipo["quantity"] >= 2)].count()

order_id              20
quantity              20
item_name             20
choice_description    20
item_price            20
dtype: int64